<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:spaceless>

	<div class="{data.tx_starter_gridcontainer}">
		<div class="">

			<div id="c{data.uid}"
					 class="ctype-{data.CType} {data.frame_class}	{data.layout} {data.tx_starter_textclass} {data.tx_starter_textcolor} {data.space_before_class}	{data.space_after_class} {data.tx_starter_backgroundcolor}">

				<f:render section="Before" optional="true">
					<f:render partial="DropIn/Before/All" arguments="{_all}"/>
				</f:render>

				<f:render section="Header" optional="true">
					<f:render partial="Header/All" arguments="{_all}"/>
				</f:render>

				<f:render section="Main" optional="true"/>

				<f:render section="Footer" optional="true">
					<f:render partial="Footer/All" arguments="{_all}"/>
				</f:render>

				<f:render section="After" optional="true">
					<f:render partial="DropIn/After/All" arguments="{_all}"/>
				</f:render>

			</div>

		</div>
	</div>

</f:spaceless>

</html>
