<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
        data-namespace-typo3-fluid="true">

	<f:layout name="PreviewDefault" />

	<f:section name="CePreview">

		<f:render partial="Header" arguments="{_all}" />

		<f:if condition="{processedRow.tx_starter_accordion_element}">
			<f:for each="{processedRow.tx_starter_accordion_element}" as="item">
				<div class="media">

					<f:if condition="{item.assets}">
						<f:for each="{item.assets}" as="itemImage">
							<f:image src="{itemImage.uid}" treatIdAsReference="1" class="pull-left" width="64c" height="64c"/>
						</f:for>
					</f:if>

					<div class="media-body">
						<f:if condition="{item.header}">
							<h4 class="media-heading">{item.header}</h4>
						</f:if>

						<f:if condition="{item.bodytext}">
							<p>{item.bodytext -> f:format.crop(maxCharacters:1500) -> f:format.stripTags()}</p>
						</f:if>
					</div>
				</div>
			</f:for>
		</f:if>

	</f:section>

</html>
