<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
        data-namespace-typo3-fluid="true">

	<f:layout name="PreviewDefault" />

	<f:section name="CePreview">

		<f:render partial="Header" arguments="{_all}" />

		<f:if condition="{processedRow.tx_starter_column_element}">
			<div class="row">

				<f:for each="{processedRow.tx_starter_column_element}" as="itemRow">
					<div class="col-sm-{previewColumns} {f:if(condition:itemRow.hidden, then: 't3-page-ce-hidden')}">
						<f:render partial="Header" arguments="{processedRow:itemRow}" />

						<f:if condition="{itemRow.bodytext}">
							<p>{itemRow.bodytext -> f:format.crop(maxCharacters:100) -> f:format.stripTags()}</p>
						</f:if>

						<f:if condition="{itemRow.assets}">
							<div>
								<f:for each="{itemRow.assets}" as="itemImage">
									<f:image src="{itemImage.uid}" treatIdAsReference="1" class="thumbnail pull-left" width="64c" height="64c"/>
								</f:for>
							</div>
							<div class="clearfix"></div>
						</f:if>

					</div>
				</f:for>

			</div>
			<div class="clearfix"></div>
		</f:if>

	</f:section>

</html>
