<div id="drilldown-list-{subMenu.0.data.pid}" class="o-drilldown__menu" data-header="{ptitle}" data-parent="drilldown-list-{ppid}">
		<ul class="o-drilldown__ul">
				<f:for each="{subMenu}" as="subItem">
						<f:render partial="Navigation/Drilldown/Item" arguments="{item:subItem}"/>
				</f:for>
		</ul>
</div>

<f:for each="{subMenu}" as="subItem">
		<f:if condition="{subItem.children}">
				<f:render partial="Navigation/Drilldown/SubMenu" arguments="{subMenu:subItem.children, ppid:subItem.data.pid, ptitle:subItem.title}"/>
		</f:if>
</f:for>
