<f:if condition="{item.current}">
		<f:then>
				<li id="mm-{item.data.uid}" class="o-menuMain__li is-current {f:if(condition:item.children, then:'has-submenu')}">
						<span class="o-menuMain__title is-current-item"><f:format.raw>{item.title}</f:format.raw></span>
						<f:if condition="{item.children}">
								<f:render partial="Navigation/MenuMain/SubMenu" arguments="{children: item.children}"/>
						</f:if>
				</li>
		</f:then>
		<f:else if="{item.active}">
				<li id="mm-{item.data.uid}" class="o-menuMain__li is-active {f:if(condition:item.children, then:'has-submenu')}">
						<f:render partial="Navigation/MenuMain/Link" arguments="{item:item, status:'is-active-item'}"/>
						<f:if condition="{item.children}">
								<f:render partial="Navigation/MenuMain/SubMenu" arguments="{children: item.children}"/>
						</f:if>
				</li>
		</f:else>
		<f:else>
				<li id="mm-{item.data.uid}" class="o-menuMain__li is-normal {f:if(condition:item.children, then:'has-submenu')}">
						<f:render partial="Navigation/MenuMain/Link" arguments="{item:item, status:'is-normal-item'}"/>
						<f:if condition="{item.children}">
								<f:render partial="Navigation/MenuMain/SubMenu" arguments="{children: item.children}"/>
						</f:if>
				</li>
		</f:else>
</f:if>
